.button {
  border: none;
  padding: 0;

  background-color: $main-dark-color;
  border-radius: $border-radius;
  width: 100%;
  line-height: $line-height-xmedium;

  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  color: $color-light;
  transition: transform $effectDuration;
  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
    transform: $scale;
    color: $main-dark-color;
    border: $border-size solid $border-hover;
  }

  &:focus {
    color: $color-light;
    background-color: $button-color-focus;
  }

  @include on-desktop {
    max-width: 324px;
  }
}
