.contacts {
  &__wraper {
    @include page-grid;
  }

  form {
    grid-column: 1 / -1;
    width: 100%;
    max-width: $form-max-width;
    margin: 0 auto $margin-bottom-xlarge 0;
    display: flex;
    flex-direction: column;
    gap: $gap-small;

    @include on-desktop {
      grid-column: span 6;
      max-width: $form-max-width-desctop;
      margin: 0;
    }
  }

  &__textarea {
    height: 148px;
    margin-bottom: $margin-bottom-large;
  }

  &__input,
  &__textarea {
    height: $input-hight;
    padding: $input-padding;
    background-color: $button-color-hover;
    border-radius: $border-radius;
    border: none;
    color: $input-color;

    &:hover {
      border: $border-size solid $input-border-hover;
      color: $main-dark-color;
    }

    &:focus {
      border: $border-size solid $main-dark-color;
      color: $main-dark-color;
    }
  }

  &__button {
    @include on-desktop {
      width: 100%;
      max-width: $form-max-width-desctop;
    }
  }
}

.info {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span 6;
  }

  &__item {
    font-family: 'Space Grotesk', monospace;
    margin: 0 0 $margin-bottom-xsmall;
    font-weight: $font-weight-norm;
    font-size: $font-size-base;
    color: $contact-color-light;

    &:hover {
      color: $main-dark-color;
    }
  }

  &__value {
    text-decoration: none;
    display: block;
    color: $contact-color;
    font-family: 'Space Mono', monospace;
    margin: 0 0 $margin-bottom-base;
    font-size: $font-size-small;
    font-weight: $font-weight-norm;

    &:hover {
      color: $contact-color-light;
    }
  }

  @include on-desktop {
    grid-column: span 6;
  }
}
