.icon {
  display: block;
  height: $icon-size-mobile;
  width: $icon-size-mobile;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, $scale-icon);
  
  @include on-tablet {
    height: $icon-size-tablet;
    width: $icon-size-tablet;
  }

  &--phone {
    background-image: $icon-phone;
  }

  &--menu {
    background-image: $icon-menu;

    &:hover {
      transform: $scale-icon;
      background-image: $icon-menu-hover;
    }
  }

  &--close {
    background-image: $icon-menu-close;
  }
}
