@import './variables';
@import './mixins';
@import './header';
@import './icon';
@import './page';
@import './top-bar';
@import './menu';
@import './button';
@import './nav';
@import './section-title';
@import './recommended';
@import './product';
@import './about-us';
@import './categories';
@import './contacts';
@import './footer';

.main {
  background-color: $color-light;

  &__content {
    display: grid;
    row-gap: $row-gap-large;
    padding-block: 64px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: $row-gap-desctop;
    }
  }
}
