.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $main-light-color;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    margin-bottom: $margin-bottom-large;
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: $main-light-color;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: $margin-bottom-xlarge;
  }

  &__phone-number {
    display: block;
    font-size: $font-size-small;
    line-height: $line-height-medium;
    color: inherit;
    text-decoration: none;
    margin-bottom: $margin-bottom-small;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    padding-bottom: $paddig-bottom-small;
    border-bottom: $border-size solid $main-dark-color;
    font-size: $font-size-xsmall;
    line-height: $line-height-small;
    letter-spacing: $letter-spacing-small;
    color: inherit;
    text-decoration: none;
  }
}
