$background-image-header: url(../images/header-bg-mobile.png);
$icon-phone: url(../images/icons/icon-phone.png);
$icon-menu: url(../images/icons/icon-burger.png);
$icon-menu-hover: url(../images/icons/icon-burger-menu-hover.png);
$icon-menu-close: url(../images/icons/icon-close.png);
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effectDuration: 0.3s;
$scale: scale(1.1);
$main-dark-color: #292929;
$main-light-color: #e5e6e8;
$border-hover: #f0f1f4;
$border-size: 1px;
$border-radius: 8px;
$border-radius-small: 4px;
$button-color-hover: #f8f8fa;
$color-light: #fff;
$button-color-focus: #111;
$input-border-hover: #d5d7de;
$input-color: #7e7e83;
$contact-color: #191919;
$contact-color-light: #9393a3;
$font-size-xsmall: 12px;
$font-size-base: 14px;
$font-size-small: 16px;
$font-weight-norm: 400;
$font-size-medium: 24px;
$font-weight-bold: 700;
$font-size-h1: 36px;
$font-size-h2: 32px;
$font-size-h2-on-tablet: 40px;
$font-size-h2-onDesctop: 48px;
$paddig-bottom-small: 24px;
$paddig-bottom: 40px;
$paddig-bottom-on-tablet: 64px;
$paddig-bottom-small: 8px;
$line-height-small: 16px;
$line-height-medium: 27px;
$line-height-xmedium: 56px;
$line-height-large: 100%;
$letter-spacing-small: 2px;
$row-gap: 40px;
$row-gap-large: 64px;
$row-gap-desctop: 120px;
$gap-small: 16px;
$gap-base: 24px;
$gap-medium: 32px;
$margin-bottom-xsmall: 8px;
$margin-bottom-base: 24px;
$margin-bottom-small: 16px;
$margin-bottom-large: 32px;
$margin-bottom-xlarge: 40px;
$margin-bottom-title: 48px;
$margin-bottom-title-tablet: 56px;
$form-max-width: 600px;
$form-max-width-desctop: 411px;
$input-hight: 48px;
$input-padding: 12px 16px;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;
$scale-icon: scale(1.2);
